.login_page{
    background: #fff url('../../assets/img/cover.png');
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    .ant-card{
        box-shadow: 10px 10px 20px 5px rgb(0 0 0 / 25%);
    }
    .login_card{
        padding: 10px;
        .login_logo{
            height: 188px;
            width: 328px;
            display: flex;
            justify-content: center;
            img{
                height: 188px;
            }
        }
        .login_form{
            padding-top: 30px;
            .login_submit{
                display: flex;
                justify-content: space-between;
                .ant-btn-link{
                    padding: 0px;
                }
            }
        }
    }
}