.wil_detail_title{
    display: flex;
    justify-content: space-between;
    width: 97%;
}
.wils_member_detail{
    .wils_member_detail_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
}