h1{
    margin: 0;
}
.wil_bold{
    font-weight: 600;
}
.w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.w_1{
    display: flex;
    justify-content: center;
}
#root{
    height: 100%;
    .members{
        .wil_bar_chart{
            margin-top: 20px;
        }
    }
}
.wil_table{
    background-color: white;
    .wil_table_header{
        display: flex;
        padding: 20px;
        padding-bottom: 0px;
        .wil_table_action{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .wil_table_search{
                width: 300px;
            }
        }
    }
}

