.wil_layouts{
    .wil_logo{
        height: 200px;
        background-color: #1abcba;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
        }
        span{
            padding-top: 10px;
            color: white;
        }
    }
    .content_hearder{
        background-color: white;
        padding: 10px;
        padding-left: 20px;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 
        0px 6px 16px -8px rgba(0, 0, 0, 0.08),
        0px 9px 28px 0px rgba(0, 0, 0, 0.05),
        0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    }
    .wil_container{
        padding: 20px;
    }
}